@import url('https://fonts.googleapis.com/css?family=Tangerine');

body{
    margin: 0px;
    text-align: center;
    overflow-x: hidden;
    width: 100%;
}

.container {
    display: inline;
    
    header {
        padding: 25px;
        font-family: 'Tangerine', serif;
        font-size: 4em;
        text-align: center;
        color: aliceblue;
        background-color: black;
    }

    ul {
        list-style-type: none;
        display: inline-block;
        margin-top: 35px;
        text-align: left;
    }

    ul > li {
        width: 300px;
        font-family: 'Tangerine', serif;
        font-size: 1.8em;
    }

    ul > li > img {
        width: 300px;
        height: 250px;
    }

    ul > li > span {
        color: red;
    }

    ul > li > label.des {
        word-wrap: break-word;
        text-align: justify;
        font-family: 'Tangerine', serif;
        font-size: 1em;
    }
}

.pagination-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Tangerine', serif;
    font-size: 2em;
}

footer {
    padding: 25px;
    font-family: 'Tangerine', serif;
    font-size: 2em;
    color: aliceblue;
    background-color: black;
}